<template lang="pug">
  .new__arrivals
    .wancho
      .container-products
        h3 OUR LATEST ARRIVALS
        p 
          | Check our latest offers that just arrived to the store. New 
          span Nonummy 
          | for you to wear.
        no-ssr
          carousel(  :navigationEnabled="true"  :perPageCustom="[[480, 1],[560, 2], [768, 3], [1024, 4]]"  :autoplay="false"  )
            slide(v-for='(product, i) in productos' :key='i'  :name="product.name" )
              Product
</template>

<script>
  import Product from '~/components/general_items/Product'
  import { mapState } from 'vuex'
  export default {
    components: {
      Product
    },
    data() {
      return {
        value1: null
      }
    },
    computed: {
      ...mapState({
          productos: 'productos'
      })
    }
  }
</script>

<style lang="sass">
  .new__arrivals
    padding-top: 50px
    .VueCarousel-pagination
      display: none
    .VueCarousel-navigation-button
      top: inherit !important
      bottom: 100%
  .container-products
    text-align: center
    margin-bottom: 50px
    > p
          margin-bottom: 40px
          span
            color: #3bbdfb
    h3
      margin-bottom: 70px
  
</style>
