<template lang="pug" >
  .wancho
    el-carousel(class="home-carousel" :autoplay="false" :interval="5000" arrow="always" )
      el-carousel-item( v-for="item in 2" :key="item" )
        img(src="~/assets/img/diamonds.png" alt="")
        .carousel-info
          h3(class="carrousel_title" ) Rings of Sale
          p Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce <br/> at justo eget lorem port titor tincidunt.
          <el-button class="g-btn-blue"  size="small" type="primary">visit the store</el-button>
</template>


<style lang="sass" >
  .wancho
    max-width: 1200px
    width: 100%
    margin: auto
  .home-carousel
    height: 430px
  .el-carousel__container
    height: 100%
  .g-btn-blue
    background: #3bbdfb
    border: none
    border-radius: 0px
    font-size: 13px
    font-family: PT Sans
    text-transform: UpperCase
    border-radius: 5px
    min-width: 120px
    &:hover
        opacity: 0.5
        background: #3bbdfb
  .carousel-info
    position: absolute
    top: 0
    text-align: center
    bottom: 0
    margin: auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    right: 0
  .carousel-info h3
    color: #475669
    background: #3bbdfb
    font-size: 48px
    margin: 0
    font-family: PT Sans
    font-weight: normal
    text-transform: UpperCase
    display: inline-block
    color: #fff
    width: 360px
    height: 65px
    margin-bottom: 30px
  .carousel-info p
    font-family: Open Sans Semibold
    font-size: 15px
    color: #acacac
    margin-bottom: 25px
</style>
