<template lang="pug">
  div
    .footer-top
      .wancho
        .social
          .social-twiter
            i(class="fab fa-twitter")
            p 
              | Revenant was just released on #themeforest 
              a(href="#") http://bit.ly/qoXj6m
          .other-social
            a.social-icon(href="#")
              i(class="fab fa-facebook-f")
            a.social-icon(href="#")
              i(class="fab fa-pinterest-p")
            a.social-icon(href="#")
              i(class="fab fa-youtube")
            a.social-icon(href="#")
              i(class="fab fa-instagram")
</template>

<style lang="sass">
  .footer-top
     background: #eee
  .social
    padding: 20px 0px
    box-sizing: border-box
    display: flex
    align-items: center
  .social-twiter
    display: flex
    align-items: center
    > i
         color: #3bbdfb
         font-size: 50px
    > p
          margin-left: 20px
  .social-icon
    background: #3bbdfb
    i
      color: #fff
  .footer-top
    .social
      justify-content: space-between
  .social-icon
    height: 35px
    width: 35px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    margin-right: 10px
    transition: all 0.25s
    &:last-child
          margin-right: 0px
    &:hover
          opacity: 0.5
  .other-social
    display: flex
</style>
