<template>
    <div>
      <HomeSlider/>
      <BlogPost/>
      <HomeProduct/>
      <Footer />
    </div>
</template>

<script>
  import HomeSlider from '~/components/home/HomeSlider'
  import HomeProduct from '~/components/home/HomeProduct'
  import Footer from '~/components/Footer'
  import BlogPost from  '~/components/general_items/BlogPost'

  export default {
    components : {
      HomeSlider,
      HomeProduct,
      Footer,
      BlogPost
    },
    data() {
      const item = {
        date: '2016-05-02',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles'
      };
      return {
        tableData: Array(20).fill(item)
      }
    }
  };
</script>


<style lang="sass">

  $primary:  PT Sans

  .el-header 
    background-color: #B3C0D1
    color: #333
    line-height: 60px

  .el-aside 
    color: #333
  
</style>
