<template lang="pug">
    .post__background
      .wancho
        .post__container
          .post__item(v-for='(post, i) in posts'  :key='i' )
            figure
              img( src="~/assets/img/blog-image.png" )
            h3 {{ post.title }}
            p {{  post.description }}
            el-button( class="g-btn-blue"  size="small" type="primary") visit the store 
</template>
<script>
    export default {
      data() {
        return{
          posts: [
            {
              title: 'Check our Ring Collection',
              description:  'Lorem ipsum dolor sit amet, coctetuer adipiscing, sed di nonummy nibh euismod te.'
            },
             {
              title: 'Summer Hat Collection',
              description:  'Lorem ipsum dolor sit amet, coctetuer adipiscing, sed di nonummy nibh euismod te.' 
            },
            {
              title: 'Veils on Sale',
              description:  'Lorem ipsum dolor sit amet, coctetuer adipiscing, sed di nonummy nibh euismod te.' 
            },
          ]
        }
      }
    }
</script>
<style lang="sass">
  $primary:  PT Sans
  .post__background
    background: #f7f8fa
  .post__container
      padding-bottom: 50px
      padding-top: 50px
      text-align: center
      display: flex
      justify-content: space-between
      h3
        font-weight: normal
        font-size: 24px
        font-family: $primary
        margin-bottom: 15px
      p
          font-size: 14px
          margin-bottom: 20px
  .post__item
      width: 30%
</style>

