<template lang="pug">
      .product-item
        img(src="~/assets/img/ring-wedding-1.png" alt="")
        p Set of Wedding Rings
        span Lorem ipsum dolor sit amet, cocteru adipiscing elit. Lorem ipsum dolor  adipiscing elit edam itis. 
        .price-container
          strong $59.89
          el-button( class="g-btn-blue"  size="small" type="primary") buy now
        .category-container
          .category-name  
            i(class="el-icon-edit")
            p Category
          .category-rate
            el-rate(v-model="value1")
</template>
<script>
    export default {
    props: {
      name: String
    },
    data() {
      return {
        value1: null
      }
    }
  }
</script>
<style lang="sass">
  .product-item
      width: 280px
      border: 1px solid #eeeeee
      padding: 25px 20px
      box-sizing: border-box
      text-align: left
      img
        max-width: 100%
        height: auto
        display: block
      p
        font-weight: 600
        margin-bottom: 20px
      > span
            margin-bottom: 25px
            font-size: 14px
            display: block
  .price-container
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 24px
  .category-name
    display: flex
    align-items: center
    i
      margin-right: 5px
  .category-container
    display: flex
    align-items: center
    border-top: 1px solid #eeeeee
    padding-top: 12px 
    justify-content: space-between
    p
      font-size: 14px
      margin: 0
</style>
